--- 
--- 

@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
    --font-sans: "InterVariable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
    @font-face {
        font-family: InterVariable;
        font-style: normal;
        font-weight: 100 900;
        font-display: block;
        src: url("../fonts/InterVariable.woff2") format("woff2");
    }

    @font-face {
        font-family: InterVariable;
        font-style: italic;
        font-weight: 100 900;
        font-display: block;
        src: url("../fonts/InterVariable-Italic.woff2") format("woff2");
    }
}

@layer components {
    .highlight {

        .nc {
            @apply text-[#ffa657];
        }

        .nx,
        .p {
            @apply text-[#f0f6fc];
        }

        .nf {
            @apply text-[#d2a8ff];
        }

        .o,
        .na {
            @apply text-[#79c0ff];
        }

        .dl,
        .s1,
        .s2,
        .sr {
            @apply text-[#a5d6ff];
        }

        .k,
        .kd {
            @apply text-[#ff7b72];
        }

        .cm {
            @apply text-[#9198a1];
        }
    }
}
