<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <title>{{ page.title | capitalize }} - {{ site.title }}</title>
</head>

<body class="prose prose-neutral mx-auto bg-white px-4 antialiased dark:prose-invert md:px-0 dark:bg-neutral-900">
  <header class="mb-6 mt-24 flex items-center">
    <strong class="text-lg tracking-widest">{{ site.title }}</strong>
    <div class="ml-auto">/</div>
    <nav class="ml-3 flex gap-x-3">
      <a {% if page.url!="/" %}class="no-underline" {% endif %}href="/">About</a>
      <a {% if page.url!="/posts.html" %}class="no-underline" {% endif %}href="/posts">Posts</a>
    </nav>
  </header>
  <main>
    <article class="sm:text-justify">
      {{ content }}
    </article>
  </main>
  <footer></footer>
</body>

</html>